body {
  background: var(--img-main-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 20px;
}

input {
  font-size: 1em;
  width: 250px;
  padding: 10px;
  margin: 5px;
  border-radius: 50px;
  border: none;
  background-color: rgb(197, 197, 197);
}

button {
  width: 14rem;
  height: 2.5rem;
  margin: 20px 10px;
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #ff0e0e;
  cursor: pointer;
  color: #fff;
}

button:hover {
  background-color: var(--color-btn-hover-red);
}
