body {
  scroll-behavior: smooth;
}

header .btn-hire {
  background-color: #fff;
  color: #000;
  padding: 20px 40px;
  border-radius: 20px 20px 0 0;
}

.container {
  display: block;

  background-color: #fff;
  width: 100%;
  border: 1px solid #000;
  border-radius: 30px;
}

.container .main-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  width: 95%;
  margin: 10px 30px;
}

.container .main-header button {
  width: 150px;
  height: 50px;
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px;
  background-color: var(--color-btn-green);
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  justify-self: start;
}

.container .main-header div {
  display: flex;
  align-items: center;
}

.container .main-header div img {
  width: 30px;
  height: 30px;
}

.container .main-header div input {
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: var(--color-inp-gray);
  width: 250px;
}

/* CARDS */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.cards-container .cards {
  width: 90%;
  margin: 10px;
  display: grid;
  place-items: center;
}

.cards-container .cards .cards-inner-container {
  background-color: var(--color-bg-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  width: 90%;
}

.cards-container .cards .cards-inner-container .card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container .cards .cards-inner-container .card-header img {
  width: 50px;
  height: 50px;
}

.cards-container .cards .cards-inner-container .cards-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cards-container .cards .cards-inner-container .cards-lower {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cards-container .cards .cards-inner-container .cards-lower .person-num {
  margin-bottom: 0;
  color: rgb(230, 112, 34);
  font-size: 3em;
}

.cards-container .cards button {
  width: 180px;
  height: 50px;
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px;
  background-color: var(--color-btn-red);
  color: #fff;
  border: none;
  border-radius: 50px;
  margin: 20px 0;
  cursor: pointer;
}
/* CARDS END  ============================================================================================================================================= */

/* APPLY  ============================================================================================================================================= */
.apply-overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.apply-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--color-bg-gray);
  border-radius: 30px;
}

body.active {
  overflow: hidden;
}

.apply-overlay.active {
  display: block;
}

.apply-container.active {
  display: flex;
}

.apply-container .btn-apply-close {
  position: inherit;
  top: 5px;
  right: -50px;

  background-color: var(--color-bg-gray);
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.apply-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.apply-container div label {
  font-size: 1.6rem;
  margin-right: 30px;
  font-weight: bold;
}

.apply-container div input {
  font-size: 1.8rem;
  padding: 5px 10px;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 50px;
}

.apply-container button {
  width: 180px;
  height: 50px;
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px;
  background-color: var(--color-btn-red);
  color: #fff;
  border: none;
  border-radius: 50px;
  margin: 50px 0 0 0;
  cursor: pointer;
}
/* APPLY END ============================================================================================================================================= */

/* POST  ============================================================================================================================================= */
.post-overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.post-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--color-bg-gray);
  border-radius: 30px;
}

.post-overlay.active {
  display: block;
}

.post-container.active {
  display: flex;
}

.post-container .btn-post-close {
  position: inherit;
  top: 5px;
  right: -50px;

  background-color: var(--color-bg-gray);
  border: 1px solid #000;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.post-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.post-container div label {
  font-size: 1.6rem;
  margin-right: 30px;
  font-weight: bold;
}

.post-container div input {
  font-size: 1.8rem;
  padding: 5px 10px;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 50px;
}

.post-container button {
  width: 180px;
  height: 50px;
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px;
  background-color: var(--color-btn-green);
  color: #fff;
  border: none;
  border-radius: 50px;
  margin: 50px 0 0 0;
  cursor: pointer;
}
/* POST END */
