body {
  background: var(--img-main-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* width: 100%;
  height: 100%; */
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.container .left-container {
  display: grid;
  place-items: center;
  width: 60%;
}

.container .left-container img {
  width: 100%;
}

.container .right-container {
  /* width: 40%; */
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  border-radius: 20px;
}

.container .right-container input {
  font-size: 1.3em;
  padding: 10px 10px 10px 35px;
  margin: 10px 0;
  border-radius: 50px;
  border: none;
  background-color: var(--color-inp-gray);
}

/*  */
.input-container {
  position: relative;
  width: 100%;
  margin: 10px 0;
}

/* .login-inp {
  width: 100%;
  padding: 10px 10px 10px 40px; 
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: #eee; 
  outline: none;
} */

.input-container input::placeholder {
  color: #616161;
  padding-left: 20px;
}

.input-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust left position to match the padding */
  transform: translateY(-50%);
  width: 20px; /* Adjust width of icon */
  height: 20px; /* Adjust height of icon */
  background-size: contain;
  background-repeat: no-repeat;
}

.input-container:first-of-type::before {
  background-image: url("./../media/icons/person.png"); /* Replace with your email icon URL */
}

.input-container:nth-of-type(2)::before {
  background-image: url("./../media/icons/lock.png");
}

/*  */
.container .right-container .middle-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0;
  width: 120%;
}

.container .right-container .middle-container .remember-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.container
  .right-container
  .middle-container
  .remember-me-container
  input[type="checkbox"] {
  margin-right: 5px;
  padding-right: 0;
}

.container .right-container .forgot-password {
  /* font-size: 0.9em; */
  text-decoration: none;
  color: #007bff;
}

.container .right-container .forgot-password:hover {
  text-decoration: underline;
}

.container .right-container .btn-login {
  width: 100%;
  padding: 10px;
  font-size: 1.3em;
  margin: 10px 0 30px 0;
  border-radius: 50px;
  border: none;
  background-color: var(--color-btn-red);
  color: white;
  cursor: pointer;
}

.container .right-container .btn-login:hover {
  background-color: #d60000;
}

.container .right-container .lower-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container .right-container .lower-container label {
  margin-right: 5px;
}

.container .right-container .btn-create-account {
  font-size: 1em;
  color: #007bff;
  text-decoration: none;
}

.container .right-container .btn-create-account:hover {
  text-decoration: underline;
}

button {
  width: 15rem;
  height: 3rem;
  margin: 10px;
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: maroon;
  cursor: pointer;
}
