body {
  scroll-behavior: smooth;
}

header .btn-rent {
  background-color: #fff;
  color: #000;
  padding: 20px 40px;
  border-radius: 20px 20px 0 0;
}

.container {
  display: block;
  position: relative;

  background-color: #fff;
  width: 100%;
  border: none;
  border-radius: 30px;
  margin-bottom: 10px;
}

/* PRODUCTS =================================================================================================================== */
.products-container {
  display: block;
  margin-top: -10px;
  padding-top: 10px;
}

.products-container h1 {
  text-align: center;
}

.products-img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.products-img-container img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}
/* PRODUCTS END =================================================================================================================== */

/* ALL PRODUCTS CONTAINER ===================================================================================================================*/
.all-products-container {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  /* gap: 10px; */
}

.all-products-container.active {
  display: grid;
}

.all-products-container .product-btn-back {
  position: absolute;
  top: -50px;
  right: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--color-btn-red);
  color: #fff;
  border: none;
  border-radius: 50px;
}

.all-products-container .all-products-cards {
  margin: 30px 10px;
  padding: 20px 10px;
  background-color: var(--color-bg-gray);
  border: none;
  border-radius: 15px;
  min-height: 400px;
  max-height: 400px;
  width: 90%;
}

.all-products-container .all-products-cards img {
  height: 300px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.all-products-container .all-products-cards h1 {
  max-height: 27px;
  max-width: 100%;
  overflow: hidden;
  word-break: break-all;
}

.all-products-container .all-products-cards button {
  float: right;

  width: 130px;
  height: 40px;
  font-weight: bold;
  padding: 5px;
  background-color: var(--color-btn-red);
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
/* ALL PRODUCTS CONTAINER END =================================================================================================================== */

/* MACHINERY PRODUCT CONTAINER =================================================================================================================== */
.machinery-container {
  display: none;
  justify-content: space-evenly;
  padding: 20px;
}

.machinery-container .btn-machinery-back,
#btn-upload-product {
  position: absolute;
  top: -50px;
  right: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--color-btn-red);
  color: #fff;
  border: none;
  border-radius: 50px;
}

/* .machinery-container .machinery-left {
  width: 25%;
}

.machinery-container .machinery-left .machinery-status {
  margin-left: 50px;
} */

.machinery-container .machinery-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 30px;
}

.machinery-container .machinery-right hr {
  width: 100%;
}

.machinery-container .machinery-right .machinery-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.machinery-container .machinery-right img {
  width: 100%;
}

.machinery-container .machinery-right .machinery-btn-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}

.machinery-container .machinery-right .machinery-btn-container button {
  width: auto;
  height: auto;
  font-weight: bold;
  padding: 20px;
  font-size: 1.3rem;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.machinery-container .content-container {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  /* gap: 10px; */
}

.machinery-container .content-container .info-container {
  padding-left: 20px;
}

.machinery-container .content-container .info-container h1 {
  font-size: 1.3rem;
  padding: 0;
  margin: 20px 0;
}

.machinery-calendar-container {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.machinery-calendar-container.active {
  height: 400px;
  opacity: 1;
}

.machinery-container .calendar-container {
  width: 350px;
  margin: 20px auto;
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
}

.machinery-container .calendar-container .calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #444;
}

.machinery-container .calendar-container .month-title {
  font-size: 1.5em;
}

.machinery-container .calendar-container .calendar {
  text-align: center;
}

.machinery-container .calendar-container .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.machinery-container .calendar-container .day {
  padding: 10px;
  border: 1px solid #444;
  text-align: center;
}

.machinery-container .calendar-container .dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.machinery-container .calendar-container .date {
  padding: 10px;
  border: 1px solid #444;
  text-align: center;
}

.machinery-container .calendar-container .date.available {
  background-color: green;
  color: #fff;
  cursor: pointer;
}

.machinery-container .calendar-container .date.selected-range {
  background-color: blue;
  color: #fff;
}

.machinery-container .calendar-container .date.not-available {
  background-color: red;
  color: white;
  cursor: not-allowed;
}

.machinery-container .calendar-container .input-container {
  text-align: center;
  margin: 20px auto;
}

#start-date,
#end-date {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 40%;
  pointer-events: none;
}

.product-inp {
  width: 55px;
  font-size: 1.3rem;
  padding: 10px;
}

/* MACHINERY PRODUCT CONTAINER END =================================================================================================================== */

/* AVAILABLE MACHINE OPERATOR =================================================================================================================== */
.available-machine-operator-container {
  width: 90%;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  background-color: var(--color-bg-gray);
  /* padding: 20px; */
  border-radius: 10px;
  margin: 20px 0;

  opacity: 0;
  height: 0px;
  overflow: hidden;

  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.available-machine-operator-container.active {
  opacity: 1;
  height: 700px;
  overflow: auto;
}

.available-machine-operator-container .available-operator-header {
  text-align: center;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  font-size: 1.5rem;
}

.available-machine-operator-container-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.available-machine-operator-container .available-operator-cards {
  margin: 20px 10px;
  padding: 20px 10px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
}

.available-machine-operator-container .available-operator-cards div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.available-machine-operator-container .available-operator-cards div h1 {
  margin: 0;
  padding: 10px 0;
}

.available-machine-operator-container .available-operator-cards img {
  width: 100%;
}

.available-machine-operator-container .available-operator-cards button {
  width: 100%;
  height: 40px;
  font-weight: bold;
  padding: 5px;
  background-color: var(--color-btn-red);
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
/*  =================================================================================================================== */

.success-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 60vw;
  padding: 0;
  z-index: 10;

  background-color: var(--color-bg-gray);
}

.success-container.active {
  display: block;
}

.success-container h1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.success-container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
}

.success-container .content img {
  height: 70px;
  width: 70px;
}

.success-container .content .information {
  display: block;
  margin: auto;
  background-color: #000;
  padding: 10px;
  width: 50%;
}

.success-container .content .information div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.success-container .content .information div h2 {
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

.success-container .content #btn-back-home {
  background-color: var(--color-btn-blue);
  color: #fff;
  padding: 10px 20px;
  border: none;
  margin: 20px;
  cursor: pointer;
  font-size: 1.2rem;
}

#overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 9;
  display: none;
}

#overlay.active {
  display: block;
}

/* AVAILABLE MACHINE OPERATOR END =================================================================================================================== */

#upload-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#upload-overlay.active {
  display: block;
  z-index: 9;
}

#upload-overlay.active-index {
  display: block;
  z-index: 11;
}

.add-product-container {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  max-height: 90vh;
  width: 520px;

  display: none;
  flex-direction: column;
  background: rgb(172, 172, 172);
  padding: 20px;
  z-index: 10;
  border-radius: 16px;
}

.add-product-container.active {
  display: flex;
}

.add-product-container .product-inp-field {
  overflow-y: auto;
}

.add-product-container input {
  margin-bottom: 20px;
  font-size: 1.3rem;
  padding: 10px;
  width: 95%;
}

.add-product-container select {
  margin-bottom: 20px;
  font-size: 1.3rem;
  padding: 10px;
  width: 100%;
}

.add-product-container button {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--color-btn-green);
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.add-product-container .btn-close-add-product {
  position: inherit;
  top: 0;
  width: 40px;
  height: 40px;
  right: -50px;
  background-color: rgb(172, 172, 172);
  color: #000;
  border-radius: 50%;
}

/* ================================================================================================================================================= */

.new-calendar-section {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 0;
  z-index: 12;
}

.new-calendar-section.active {
  display: block;
}

#new-calendar-text {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  margin: 0;
  text-align: center;
}

.new-calendar-container {
  width: 350px;
  margin: 20px 50px;
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
}

.new-calendar-container .new-calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #444;
}

.new-calendar-container .new-month-title {
  font-size: 1.5em;
}

.new-calendar-container .new-calendar {
  text-align: center;
}

.new-calendar-container .new-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.new-calendar-container .new-day {
  padding: 10px;
  border: 1px solid #444;
  text-align: center;
}

.new-calendar-container .new-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.new-calendar-container .new-date {
  padding: 10px;
  border: 1px solid #444;
  text-align: center;
}

.new-calendar-container .new-date.available {
  background-color: var(--color-btn-green);
  color: #fff;
  cursor: pointer;
}

.new-calendar-container .new-date.not-available {
  background-color: var(--color-btn-red);
  color: white;
}

.new-calendar-container .new-date.selected-range {
  background-color: blue;
  color: #fff;
}

.new-calendar-section .new-input-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

#new-start-date,
#new-end-date {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 40%;
  pointer-events: none;
}

.new-calendar-section .new-btn-container {
  display: flex;
  justify-content: space-between;
}

#new-btn-calendar-cancel {
  background-color: var(--color-btn-red);
  width: 30% !important;
  margin: 0 15px 10px 15px;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

#new-btn-calendar-save {
  background-color: var(--color-btn-green);
  width: 30% !important;
  margin: 0 15px 10px 15px;
  opacity: 1;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

#new-btn-calendar-save.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* .new-calendar-container button {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--color-btn-green);
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
} */
